* {
	border: none;
	outline: none;
	background: transparent;
	margin: 0px;
	padding: 0px;
	color: inherit;
	box-sizing: border-box;
	font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "sans-serif";
	-ms-overflow-style: none;
	scrollbar-width: none;
	text-decoration: none;
}

button[disabled] {
	cursor: default;
}

html,
body {
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--crust);
}

button,
label,
video[controls] {
	cursor: pointer;

	* {
		cursor: pointer;
	}
}

/* 
 * dear lord, this is hilarious to me.
 *
 * on firefox, when you autofill a form value, it sets the background
 * to this horrendous yellow. 
 *
 * come to find out, you cant just override that background color; firefox
 * just doesnt let you.
 *
 * so i do some digging n stumble across THIS ANSWER:
 *
 * https://stackoverflow.com/a/79433914 
 *
 * which makes this css rule that says "i know we cant stop you from
 * changing the background, but we can change the *time* it takes to
 * change the background, so im just going to set that to infinity."
 *
 * so, yeah, it *is* trying to change the background, just that... it
 * takes an infinite amount of time. god, what a stupid problem and a
 * stupid workaround.
 *
 * one must imagine firefox sisyphus happy
 */
input:autofill {
	transition:
		background-color calc(infinity * 1s) step-end,
		background-image calc(infinity * 1s) step-end allow-discrete,
		color calc(infinity * 1s) step-end;
}
